# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

In [2]:
a = 'ชื่อ กมลวรรณ มีป้อง รหัส 603021851-0'
print(a)

ชื่อ กมลวรรณ มีป้อง รหัส 603021851-0

In [4]:
name = 'กมลวรรณ'
surname = 'มีป้อง'
ID = '603021851-0'
b = f'ชื่อ {name } นามสกุล {surname } รหัส {ID} '
print(b)

ชื่อ กมลวรรณ นามสกุล มีป้อง รหัส 603021851-0

### Function tamplate

```python
def funct_name(x):
      do_something
     return y
```

In [7]:
def print_line1(name1,surname1,ID1):
      st =  f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1} '
      return st

In [8]:
print(print_line1('นิรชร','บรรณสาร','603020474-7'))

ชื่อ นิรชร นามสกุล บรรณสาร รหัส 603020474-7

## function without output

In [9]:
def print_2line(name1,surname1,ID1,grade):
      st =  f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1} '
      print(st)
      st2 = f'เกรดวิชา stat1 >>> {grade}'
      print(st2)

In [12]:
print_2line('กมลวรรณ','มีป้อง','603021851-0','A')
print_2line('นิรชร','บรรณสาร','603020474-7','A')
print_2line('กาญจนา','พร้อมพรั่ง','603021856-0','A')

ชื่อ กมลวรรณ นามสกุล มีป้อง รหัส 603021851-0
เกรดวิชา stat1 >>> A
ชื่อ นิรชร นามสกุล บรรณสาร รหัส 603020474-7
เกรดวิชา stat1 >>> A
ชื่อ กาญจนา นามสกุล พร้อมพรั่ง รหัส 603021856-0
เกรดวิชา stat1 >>> A

 indent = เว้นวรรคผิด

In [13]:
def print_2line(name1,surname1,ID1,grade):
      st =  f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1} '
      print(st)
      st2 = f'เกรดวิชา stat1 >>> {grade}'
       print(st2)

IndentationError: unexpected indent (<ipython-input-13-4005fd96372f>, line 5)

หลังreturnจะหยุดทำงาน

In [16]:
def print_2lines_er(name1,surname1,ID1,grade):
      st =  f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1} '
      return st
      st2 = f'เกรดวิชา stat1 >>> {grade}'
      print(st2)

In [18]:
print_2lines_er('กมลวรรณ','มีป้อง','603021851-0','A')

'ชื่อ กมลวรรณ นามสกุล มีป้อง รหัส 603021851-0 '

## function without input

In [21]:
def two_x_three():
      x = 2*3
      return x

In [22]:
two_x_three()

6

## function with default argument
ไม่ใส่ค่าเกรด ฟังชั่นจะแทนให้เป็นค่า F=defauit

In [23]:
def print_2lines_default(name1,surname1,ID1,grade='F'):
      st =  f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1} '
      print (st)
      st2 = f'เกรดวิชา stat1 >>> {grade}'
      print(st2)

In [25]:
print_2lines_default('กมลวรรณ','มีป้อง','603021851-0')

ชื่อ กมลวรรณ นามสกุล มีป้อง รหัส 603021851-0
เกรดวิชา stat1 >>> F

In [27]:
print_2lines_default('กมลวรรณ','มีป้อง','603021851-0','A')

ชื่อ กมลวรรณ นามสกุล มีป้อง รหัส 603021851-0
เกรดวิชา stat1 >>> A

In [28]:
print_2lines_default(surname1 = 'กมลวรรณ',name1 = 'มีป้อง',ID1 = '603021851-0')

ชื่อ มีป้อง นามสกุล กมลวรรณ รหัส 603021851-0
เกรดวิชา stat1 >>> F

## Loop (วนซ้ำ)

```Python
for each_member in listA:
     do something
```

In [55]:
for i in [1,2,3]:
      print(i)

1
2
3

In [35]:
for i in 'Kamonwan' :
     print(f'{i} -> /')
     print(' ')ความรู้สึก {feel1}

K -> /

a -> /

m -> /

o -> /

n -> /

w -> /

a -> /

n -> /

## 1 สร้าง List ชื่อเพื่อน ที่อยู่ใน แถวเดียวกัน
## 2 วนลูป print ประโยคว่า XXX YYY ZZZ 
## 3 วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

function in loop

In [68]:
list_f = ['บิว','ฝ้าย','เล็ก','ฟาง','ปิง']

In [69]:
def print_feel(i,feel,friend):
      print(f'{i} {feel} {friend}')

In [70]:
print_feel('แป้ง', 'รู้จัก', 'บิวตี้')

แป้ง รู้จัก บิวตี้

In [72]:
for f in list_f:
     print_feel('แป้ง','รู้จัก',f)

แป้ง รู้จัก บิว
แป้ง รู้จัก ฝ้าย
แป้ง รู้จัก เล็ก
แป้ง รู้จัก ฟาง
แป้ง รู้จัก ปิง

loop in loop=สามารถใช้ for ซ้อนกันสองรอบได้

In [91]:
for name1 in list_f:
     for name2 in list_f:
          print_feel(name1,'รัก',name2)

บิว รัก บิว
บิว รัก ฝ้าย
บิว รัก เล็ก
บิว รัก ฟาง
บิว รัก ปิง
ฝ้าย รัก บิว
ฝ้าย รัก ฝ้าย
ฝ้าย รัก เล็ก
ฝ้าย รัก ฟาง
ฝ้าย รัก ปิง
เล็ก รัก บิว
เล็ก รัก ฝ้าย
เล็ก รัก เล็ก
เล็ก รัก ฟาง
เล็ก รัก ปิง
ฟาง รัก บิว
ฟาง รัก ฝ้าย
ฟาง รัก เล็ก
ฟาง รัก ฟาง
ฟาง รัก ปิง
ปิง รัก บิว
ปิง รัก ฝ้าย
ปิง รัก เล็ก
ปิง รัก ฟาง
ปิง รัก ปิง

loop in function = สร้างลูปเข้าไปในฟังชั่น

In [90]:
def print_feel(i,feel,friend):
        print(f'{i} {feel} {friend}')

In [74]:
print_feel('แป้ง', 'รู้จัก', list_f)

แป้ง รู้จัก บิว
แป้ง รู้จัก ฝ้าย
แป้ง รู้จัก เล็ก
แป้ง รู้จัก ฟาง
แป้ง รู้จัก ปิง

looping in dic = วนลูปในดิค

In [77]:
name_grade =  {'พันทิพา':'B','ศุภนิตา':'c','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'c', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [80]:
name_grade['ปนัดดา']

'A'

In [82]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [81]:
for i in name_grade.keys():
      print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด c
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# conditional : เงื่อนไข

# ==,!= ,>= ,<= ,< ,>

```Python
if condition1:
    do sometinng
elif condition2:
    do another thing
 else:
    do ...
```

In [93]:
for name1 in list_f:
     for name2 in list_f:
          if name1 != name2:
            print_feel(name1,'รัก',name2)

บิว รัก ฝ้าย
บิว รัก เล็ก
บิว รัก ฟาง
บิว รัก ปิง
ฝ้าย รัก บิว
ฝ้าย รัก เล็ก
ฝ้าย รัก ฟาง
ฝ้าย รัก ปิง
เล็ก รัก บิว
เล็ก รัก ฝ้าย
เล็ก รัก ฟาง
เล็ก รัก ปิง
ฟาง รัก บิว
ฟาง รัก ฝ้าย
ฟาง รัก เล็ก
ฟาง รัก ปิง
ปิง รัก บิว
ปิง รัก ฝ้าย
ปิง รัก เล็ก
ปิง รัก ฟาง

In [94]:
if True:
    print('Yes')

Yes

In [95]:
if False:
    print('No')

In [96]:
if False:
    print('Yes')
else:
    print('No')

No

In [98]:
1 == 1

True

In [99]:
if 1 == 1:
    print('1==1')

1==1

 HW เขียนฟังชั่นตัดเกรด โดยที่ input เป็นคะแนน(0-1000) output เป็นเกรด(f-a)
 
input= [1, 50, 65, 90, 101, -5, 49]

In [7]:
Grade = [1,50,65,90,101,-5,49]
print(Grade)

[1, 50, 65, 90, 101, -5, 49]

In [8]:
for p in Grade:
    if p > 100:
        print('Grade is Error')
    elif p > 79:
        print ('Grade is A')
    elif p > 74:
        print ('Grade is B+')
    elif p > 69:
        print ('Grade is B')
    elif p > 64:
        print ('Grade is C+')
    elif p > 59:
        print ('Grade is C')
    elif p > 54:
        print ('Grade is D+')
    elif p > 49:
        print ('Grade is D')
    elif p > 0:
        print ('Grade is F')
    else:
        print ('Grade is Ereor')

Grade is F
Grade is D
Grade is C+
Grade is A
Grade is Error
Grade is Ereor
Grade is F